.categories_tree_list {
  display: none;
  position: absolute;
  top: 50%;
  left: 240px;
  min-height: auto;
  height: fit-content;
  background: #fff;
  min-width: 239px;
  width: auto;
  bottom: 0px;
  border: 1px solid #ebebeb;
  box-shadow: 0px 2px 4px #00000029;
  padding: 20px;
  z-index: 4;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 80px;
  opacity: 1;
}

.categories_tree_list_two {
  width: auto;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
}

.categories_tree_list_three {
  margin-left: 20px;
}

.categories_tree_list_one_title {
  width: auto;
  height: auto;
  padding: 10px;
  border-bottom: 1px solid #9da930;
  cursor: pointer;
}

.categories_tree_list_one_title_text {
  color: #222222;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}

.categories_tree_list_one_title_text:hover {
  color: #9da930;
}

.categories_tree_list_two_title {
  width: auto;
  height: auto;
  padding: 5px;
}

.categories_tree_list_two_title_text {
  color: #222222;
  line-height: 1;
  font-size: 14px;
  white-space: nowrap;
}

.categories_tree_list_two_title_text:hover {
  color: #9da930;
}

.categories_tree_list_three_title {
  width: auto;
  height: auto;
  padding: 5px;
}

.categories_tree_list_three_title_text {
  color: #222222;
  line-height: 1;
  font-size: 14px;
  white-space: nowrap;
}

.categories_tree_list_three_title_text:hover {
  color: #9da930;
}
